.imgDisco {
  width: 3%;
  animation: girar 2s linear infinite;
  margin-right: 10px !important;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .navbar-collapse.collapsing .imgDisco,
  .navbar-collapse.show .imgDisco {
    width: 10%;
    margin-right: 0px !important;
  }
}
